html,
body {
  height: 100%;
}


.mat-tab-links {
  display: flex;
  justify-content: center;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.hidden {
  display: none;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  justify-content: space-around;
}
