<p>header works!</p>



<!-- NO AUTH REQUIRED -->
<nav mat-tab-nav-bar *ngIf="showNoAuthSection">
  <button (click)="home()">Home</button>
  <button (click)="login()">Login</button>
  <button (click)="register()">Register</button>
</nav>

<!-- AUTH REQUIRED -->
<nav mat-tab-nav-bar *ngIf="showAuthSection">
  <button (click)="home()">Home</button>
  <button (click)="adminPosts()">Admin posts</button>
  <button (click)="adminCategories()">Admin categories</button>
  <button (click)="profile()">Profile</button>
  <button (click)="logout()">Logout</button>
</nav>
