<div class="style1">
  <div class="style2">
    <mat-list>
      <h2>Espai personal</h2>
      <mat-list-item>Expedient acadèmic</mat-list-item>
      <mat-list-item>El meu pla d'estudis</mat-list-item>
      <mat-list-item>Notes de l'avaluació contínua</mat-list-item>
      <mat-list-item> Els meus recursos d'aprenentatge</mat-list-item>
      <mat-list-item>Els meus pagaments</mat-list-item>
      <mat-list-item>El meu perfil</mat-list-item>
      <mat-list-item>Carnet d'estudiant</mat-list-item>
    </mat-list>

    <mat-list>
      <h2>Biblioteca</h2>
      <mat-list-item>Estudiants </mat-list-item>
      <mat-list-item>Personal investigador </mat-list-item>
      <mat-list-item>Col·lecció digital per àrees d'estudi </mat-list-item>
      <mat-list-item>Biblioguies </mat-list-item>
      <mat-list-item>Personal docent </mat-list-item>
      <mat-list-item>La Biblioteca respon </mat-list-item>
    </mat-list>

    <mat-list>
      <h2>Tràmits</h2>
      <mat-list-item>Requisits i documentació d'accés </mat-list-item>
      <mat-list-item>Matrícula </mat-list-item>
      <mat-list-item>Beques </mat-list-item>
      <mat-list-item>Descomptes </mat-list-item>
      <mat-list-item>Reconeixements i convalidacions </mat-list-item>
      <mat-list-item>Avaluació i proves finals </mat-list-item>
      <mat-list-item>Certificats </mat-list-item>
      <mat-list-item>Pràctiques a empreses </mat-list-item>
      <mat-list-item>Treballs finals </mat-list-item>
      <mat-list-item>Títol </mat-list-item>
      <mat-list-item>Altres tràmits </mat-list-item>
    </mat-list>


    <mat-list>
      <h2>Més UOC</h2>
      <mat-list-item>Notícies </mat-list-item>
      <mat-list-item>Plans d'estudis </mat-list-item>
      <mat-list-item>Espai d'acollida per a nous estudiants </mat-list-item>
      <mat-list-item>Guia de l'estudiant </mat-list-item>
      <mat-list-item>Representants </mat-list-item>
      <mat-list-item>Seu electrònica </mat-list-item>
      <mat-list-item>Diversitat funcional </mat-list-item>
      <mat-list-item>Cooperació </mat-list-item>
      <mat-list-item>Orientació professional i Borsa de treball </mat-list-item>
    </mat-list>
  </div>
  <div class="style3">
    <img src="../../../../assets/img/logo_uoc.jpg" alt="logo UOC">
  </div>
</div>
